*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    border: none;
    background-color:none ;
    color: #000000 ;
    text-decoration:none;
}

.header {
    display:flex;

    justify-content:center;

    flex-direction: column;

}

.page-links{
    width: 100%;
    background-color: #efefef;
    padding-top: 16px;
    padding-bottom: 16px;
    display:flex;
    gap: 30px;
    justify-content:center;
    
}
.page-links-text{
    font-size: 14px;   
}

.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:18px ;
    border-bottom: #EFEFEF solid 1px;
}

.logo{
    display: flex;
    gap: 20px;
    align-items:center ;
    color: #F13C6E;
    font-size: 36px;
    font-weight: 700;
}

.logo-text{
    color: #F13C6e
}


.header-search{
    margin-left: 172px;
    margin-right: 93px;
    width: 250px;
    height: 37px;
    border-radius:40px ;
    background-color: #EFEFEF;
    padding: 10px; 
}


.feedback-header{
    display: flex;
    gap: 40px;
    align-items: center;

}


.header-phone{
    font-size: 16px;

}



.header-feedback-button{
    font-size: 14px;
    border-radius: 40px;
    border: 2px solid #F13C6E;
    padding-block: 12px;
    padding-inline:27px;
    background-color: #ffffff;
}



.header-sections{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 28px;
    font-size: 16px;
    padding-bottom: 60px;
}

.container{
    padding-left:405px ;
    padding-right: 405px;
}

.special-section{
    display: flex;
    padding-top: 80px;
    flex-direction: column;
    gap: 38px;

}

.special-title{
    font-size: 24px;
    font-weight: 700;
}

.main{
    background-color: #EFEFEF;
}


.cards-row{
    display: flex;
    gap: 30px;
}


.card{
    display: flex;
    gap: 20px;
    padding-left:30px ;
    padding-right: 30px;
    background-color: #ffffff;
    padding-bottom: 25px;
    padding-top: 25px;
    flex-direction: column;
    align-items: center;
}


.description{
    width: 195px;
    font-size: 14px;
    color: #333333;
    text-align: center;

}


.price{
    font-size: 21px;
    font-weight: 500;
}


.button-sale{

    border-radius: 30px;
    font-size: 14px;
    width: 130px;
    height: 35px;
    background-color:#F13C6E ;
    color: #ffffff;
}